{% extends 'academy/base.html' %}

{% block title %}
Edit lecturers
{% endblock %}

{% block content %}
<h2>Sent message</h2>
{{ sender }}
    {% if new_contact.email in sender %}
        You recently wrote to us, we will contact you shortly!
    {% else %}
        <form method="post">
            <div class="form-floating">
                {{ contact_form.as_p }}
                {% csrf_token %}
            </div>
            <p><input type='submit' class="btn btn-primary" value='Sent message'></p>
        </form>
    {% endif %}
{% endblock %}
