{% extends 'academy/base.html' %}

{% block title %}
Edit lecturers
{% endblock %}

{% block content %}
<h2>Edit lecturers:</h2>
{% for lecturer in lecturers %}
<div>
    <p>First name: {{ lecturer.first_name }} Last name: {{ lecturer.last_name }}. Email:
        {{ lecturer.email|linebreaksbr }}
        {% if user.is_authenticated %}
        <a href="{% url 'edit_lecturer' lecture_id=lecturer.lecture_id %}">
            <button>Edit</button>
        </a>
        <a href="{% url 'delete_lecturer' lecture_id=lecturer.lecture_id %}">
            {% csrf_token %}
            <button>Delete</button>
        </a>
        {% endif %}
    </p>
</div>
{% empty %}
<p>There are no lecturer yet.</p>
{% endfor %}

<h2>Add lecturers:</h2>
{% if new_lecturer %}
<b> Your lecturer has been added.</b>
{% else %}
<form method="post">
    {{ lecturer_form.as_p }}
    {% csrf_token %}
    <p><input type='submit' value='Add lecturer'></p>
</form>
{% endif %}
<a href="{% url 'view_lecturer' %}">
    <button>Return lecturer list</button></a>
{% endblock %}