{% extends 'academy/base.html' %}

{% block title %}
    Edit groups
{% endblock %}

{% block content %}
    <h2>Edit groups:</h2>
    {% for group in groups %}
    <div>
        <p>Number of group: {{ group.course }}</p>
            {% if user.is_authenticated %}
            <a href="{% url 'edit_group' group_id=group.group_id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete_group' group_id=group.group_id %}">
                {% csrf_token %}
                <button>Delete</button>
            </a>
            {% endif %}
            {% for student in group.students.all %}
            <p>FIO student: {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}</p>
            {% endfor %}
        </p>
    </div>
    {% empty %}
    <p>There are no group yet.</p>
    {% endfor %}

    <h2>Add groups:</h2>
    {% if new_group %}
    <b> Your group has been added.</b>
    {% else %}
    <form method="post">
        {{ group_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add group'></p>
    </form>
    {% endif %}
    <a href="{% url 'view_group' %}">
        <button>Return group list</button></a>
    {% endblock %}