{% extends 'academy/base.html' %}

{% block title %}
    Edit students
{% endblock %}

{% block content %}
    <h2>Students:</h2>
    {% for student in students %}
    <div class="d-grid gap-3">
        <p class="p-2 bg-light border">
            First name: {{ student.first_name }}
            Last name: {{ student.last_name }}.
            Email: {{ student.email|linebreaksbr }}
            {% if user.is_authenticated %}
            <a href="{% url 'edit_student' student_id=student.student_id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete_student' student_id=student.student_id %}">
                {% csrf_token %}
                <button>Delete</button>
            </a>
            {% endif %}
        </p>
    </div>
    {% empty %}
    <p>There are no students yet.</p>
    {% endfor %}

    <h2>Add students:</h2>
    {% if new_student %}
    <b> Your student has been added.</b>
    {% else %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <form method="post">
            <div class="form-floating">
                {{ student_form.as_p }}
                {% csrf_token %}
            </div>
            <p><input type='submit' class="btn btn-primary" value='Add student'></p>
        </form>
    </div></nav>
    </div>

    {% endif %}
    <a href="{% url 'view_student' %}">
        <button class="btn btn-primary" >Return student list</button></a>
    {% endblock %}