{% extends 'academy/base.html' %}

{% block title %}
    View exchange rate
{% endblock %}

{% block content %}
    <h2>Exchange rate</h2>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">USD (USD trend)</th>
                    <th scope="col">EUR (EUR trend)</th>
                    <th scope="col">RUR (RUR trend)</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <th scope="row">Buy</th>
                    <td>{{USD_buy}} ({{USD_trend_buy}})</td>
                    <td>{{EUR_buy}} ({{EUR_trend_buy}})</td>
                    <td>{{RUR_buy}} ({{RUR_trend_buy}})</td>
                </tr>
                <tr>
                    <th scope="row">Sale</th>
                    <td>{{USD_sale}} ({{USD_trend_sale}})</td>
                    <td>{{EUR_sale}} ({{EUR_trend_sale}})</td>
                    <td>{{RUR_sale}} ({{RUR_trend_sale}})</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}