{% extends 'academy/base.html' %}
{% load academy_extras %}

{% block title %}
    View Groups
{% endblock %}

{% block content %}
    <h2>Groups:</h2>
    <ul>
        {% for group in groups %}
        <p>Number of group: {{ group.course }} ({{ group.students.all|get_col_students:"student" }})</p>
        {% for student in group.students.all %}
        <p>FIO student: {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}</p>
        {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}