{% extends 'academy/base.html' %}
{% load static %}

{% block title %}
    View students
{% endblock %}

{% block content %}
    <h2>Students:</h2>
        {% for student in students %}
        <div class="d-grid gap-3">
            <p class="p-2 bg-light border">
            First name: {{ student.first_name }}
            Last name: {{ student.last_name }}.
            Email: {{ student.email|linebreaksbr }}
            <img style="width: 10%; height: auto;" class="img-thumbnail img-fluid" src="{{ student.cover.url }}">
            </p>
        </div>
        {% empty %}
        <p>There are no students yet.</p>
    {% endfor %}
{% endblock %}